.hero {
  background-color: var(--color-primary);
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 4rem 4rem 1rem 4rem;
  font-weight: bold;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
}
.menu li {
  margin: 1em;
}
.menu a {
  text-decoration: none;
  color: var(--color-black);
  padding: 0.75rem;
  transition: all 0.2s ease;
}
.menu a:hover,
.menu a:active {
  background-color: var(--color-white);
  border-radius: 20px;
}

.social {
  display: flex;
  justify-content: space-between;
}
.social li {
  margin: 1em;
  transition: all 0.2s ease;
}
.social li:hover {
  fill: var(--color-white);
}

.main {
  margin: 0 auto;
  height: 85vh;
  padding: 2rem 4rem 0 4rem;
  display: flex;
  background-image: url("/assets/carlosazaustre-profile-image-large.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.mainLeft {
  width: 35%;
  height: 100%;
}

.mainRight {
  width: 65%;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.book img:hover {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 3rem;
}
.subtitleGreeting {
  display: inline-block;
  font-weight: 500;
}
.subtitleName {
  display: inline-block;
  font-weight: black;
}

.text {
  font-weight: normal;
  font-size: 1rem;
}

.btnCTA {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-black);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 20px;
}

.logos {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.logosRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem;
  align-content: center;
}
